<nav class="sidenav" *showIfAuthed="true">
    <section class="sidenav-content">
        <section class="nav-group collapsible">
  
            <label for="tabexample1">Drug Management</label>
            <ul class="nav-list">
                <li>
                    <a class="nav-link">
                        <clr-icon shape="search"></clr-icon> Search Drug</a>
                </li>
                <li>
                    <a class="nav-link">
                        <clr-icon shape="plus"></clr-icon> Add Drug</a>
                </li>
                <li>
                    <a class="nav-link">
                        <clr-icon shape="pencil"></clr-icon> Update/Delete Drug</a>
                </li>
            </ul>
        </section>
    </section>
  </nav>