<form [formGroup]="manufacturerSearchForm" (ngSubmit)="onSearch()">
    <section class="form-block">
      <label>
        <clr-icon shape="floppy" class="has-badge is-solid"></clr-icon> Search Manufacturer</label>
      <hr>
      <div class="form-group">
        <label class="required">Manufacturer Name to be Searched </label>
        <label for="search_manufacturer_name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="manufacturerSearchForm.get('search_manufacturer_name').invalid">
          <input id="search_manufacturer_name" type="text" formControlName="search_manufacturer_name" size="35">
        </label>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="manufacturerSearchForm.invalid">Search</button>
      <button type="button" class="btn btn-secondary" (click)="manufacturerSearchForm.reset()">Clear</button>
    </section>
  
  
  </form>

    <div class="card search-detail-card" *ngFor="let manufacturer of manufacturerList">
      <div class="card-header">
        {{manufacturer.manufacturer_name}}
      </div>
      <div class="card-block">
        <div class="card-text">
          Address :{{manufacturer.manufacturer_address}} <br/>
          Contact : {{manufacturer.manufacturer_contact}} <br/>
          Email : {{manufacturer.manufacturer_email}} <br/>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-success" (click)="displayUpdateModal(manufacturer)">Update</button>
        <button class="btn btn-sm btn-danger" (click)="displayDeleteModal(manufacturer)">Delete</button>
      </div>
    </div>

    <!--Modal -->
    <clr-modal [(clrModalOpen)]="updateModalDisplay" [clrModalSize]="'lg'" [clrModalClosable]="false" [clrModalStaticBackdrop]="true">
        <h3 class="modal-title">Update Manufacturer</h3>
        <div class="modal-body">
          <form class="form" [formGroup]="ManufacturerUpdateForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
            <section class="form-block">
              <hr>

              <!-- Manufacturer Name -->
              <div class="form-group">
                <label for="manufacturer_name">Manufacturer Name</label>
                <label for="manufacturer_name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="ManufacturerUpdateForm.get('manufacturer_name').invalid
                    && (ManufacturerUpdateForm.get('manufacturer_name').dirty || ManufacturerUpdateForm.get('manufacturer_name').touched)">
                  <input id="manufacturer_name" type="text"
                         formControlName="manufacturer_name" size="35">
                  <span class="tooltip-content">
                    Manufacturer Name cannot be empty.
                </span>
                </label>
              </div>

              <!-- Manufacturer Address -->
              <div class="form-group">
                <label for="manufacturer_address">Manufacturer Address</label>
                <label for="manufacturer_address" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="ManufacturerUpdateForm.get('manufacturer_address').invalid
                    && (ManufacturerUpdateForm.get('manufacturer_address').dirty || ManufacturerUpdateForm.get('manufacturer_address').touched)">
                  <input id="manufacturer_address" type="text"
                         formControlName="manufacturer_address" size="35">
                  <span class="tooltip-content">
                    Manufacturer Address cannot be empty.
                </span>
                </label>
              </div>

              <!-- Manufacturer Contact -->
              <div class="form-group">
                <label for="manufacturer_contact">Manufacturer Contact</label>
                <label for="manufacturer_contact" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="ManufacturerUpdateForm.get('manufacturer_contact').invalid
                    && (ManufacturerUpdateForm.get('manufacturer_contact').dirty || ManufacturerUpdateForm.get('manufacturer_contact').touched)">
                  <input id="manufacturer_contact" type="text"
                         formControlName="manufacturer_contact" size="35">
                  <span class="tooltip-content">
                    Manufacturer Contact Number cannot be empty.
                </span>
                </label>
              </div>

              <!-- Manufacturer Email -->
              <div class="form-group">
                <label for="manufacturer_email">Manufacturer Email</label>
                <label for="manufacturer_email" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="ManufacturerUpdateForm.get('manufacturer_email').invalid
                    && (ManufacturerUpdateForm.get('manufacturer_email').dirty || ManufacturerUpdateForm.get('manufacturer_email').touched)">
                  <input id="manufacturer_email" type="text"
                         formControlName="manufacturer_email" size="35">
                  <span class="tooltip-content">
                    Manufacturer Email cannot be empty.
                </span>
                </label>
              </div>
            </section>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning-outline" (click)="cancelManufacturerUpdate()">Cancel</button>
          <button type="button" class="btn btn-success" (click)="updateManufacturer()">Update</button>
        </div>
      </clr-modal>

      <clr-modal [(clrModalOpen)]="deleteModalDisplay">
      <h3 class="modal-title">Delete Manufacturer</h3>
      <div class="modal-body">
        <p>Delete Manufacturer : {{deleteManufacturerForm?.manufacturer_name}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="closeDeleteModal()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteManufacturer()">Delete</button>
      </div>
    </clr-modal>
    


