<form class="form" [formGroup]="drugAddForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
    <section class="form-block">
      <label><clr-icon shape="floppy" class="has-badge is-solid"></clr-icon> Add New Drug</label>
      <hr>

      <div class="form-group">
        <label for="drugName">Drug Name</label>
        <label for="drugName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="drugAddForm.get('drugName').invalid
                    && (drugAddForm.get('drugName').dirty || drugAddForm.get('drugName').touched)">
                <input id="drugName" type="text"
                    formControlName="drugName" size="35">
                <span class="tooltip-content">
                    Drug Name cannot be empty.
                </span>
            </label>
      </div>

      <div class="form-group">
        <label for="drug_type_select">Drug Type</label>
        <div class="select">
          <select id="drug_type_select">
                      <option>Tablet</option>
                      <option>Syrup</option>
                  </select>
        </div>
      </div>

      <div class="form-group">
        <label for="drug_category_select">Drug Category</label>
        <div class="select">
          <select id="drug_category_select">
                      <option>Injection</option>
                      <option>Narcotis</option>
                  </select>
        </div>
      </div>

      <div class="form-group">
        <label for="drugPrice">Drug Price</label>
        <label for="drugPrice" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="drugAddForm.get('drugPrice').invalid
                    && (drugAddForm.get('drugPrice').dirty || drugAddForm.get('drugPrice').touched)">
                <input id="drugPrice" type="text"
                    formControlName="drugPrice" size="35">
                <span class="tooltip-content">
                    Drug Price cannot be empty.
                </span>
            </label>
      </div>
          <button class="btn btn-primary" type="submit">Add Drug</button>
          <button class="btn btn-warning" type="submit">Reset</button>
    </section>
  </form>