<form class="form" [formGroup]="employeeAddressForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
    <section class="form-block">
        <label><clr-icon shape="floppy" class="has-badge is-solid"></clr-icon> Add New Drug</label>
        <hr>
        <div class="form-group">
            <label for="empFullName">Drug Name</label>
            <label for="empFullName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="employeeAddressForm.get('fullName').invalid
                  && (employeeAddressForm.get('fullName').dirty || employeeAddressForm.get('fullName').touched)">
              <input id="empFullName" type="text"
                  formControlName="fullName" size="35">
              <span class="tooltip-content">
                  Name is required.
              </span>
          </label>
        </div>
        <button class="btn btn-primary" type="submit">Add Drug</button>
        <button class="btn btn-warning" type="submit">Reset</button>
    </section>
</form>