<div class="box box-success">
        <div class="box-body">
          <div class="input-group">
            <span class="glyphicon glyphicon-search input-group-addon"></span>
            <input type="text" ng-model="searchkey" placeholder="Search Supplier" class="form-control"/>
          </div>
        </div>
      </div>
      
          <div class="card search-detail-card">
            <div class="card-header">
              Test<!--{{supplier.supplier_name}}-->
            </div>
            <div class="card-block">
              <div class="card-text">
                Contact :<!-- {{supplier.supplier_contact_number}} --><br/>
                Address : <!--{{supplier.supplier_contact_address}} --><br/>
                Email : <!--{{supplier.supplier_contact_email_address}} --><br/>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-success" (click)="displayUpdateModal()">Update</button>
              <button class="btn btn-sm btn-danger">Delete</button>
            </div>
          </div>
      
          <!--Modal -->
          <clr-modal [(clrModalOpen)]="updateModalDisplay" [clrModalSize]="'lg'" [clrModalClosable]="false" [clrModalStaticBackdrop]="true">
              <h3 class="modal-title">Update Supplier</h3>
              <div class="modal-body">
                <form class="form" [formGroup]="DrugUpdateForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
                  <section class="form-block">
                    <hr>
      
                    <!-- Drug Name -->
          <div class="form-group">
                <label for="drugName">Drug Name</label>
                <label for="drugName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="DrugUpdateForm.get('drugName').invalid
                            && (DrugUpdateForm.get('drugName').dirty || DrugUpdateForm.get('drugName').touched)">
                        <input id="drugName" type="text"
                            formControlName="drugName" size="35">
                        <span class="tooltip-content">
                            Drug Name cannot be empty.
                        </span>
                    </label>
              </div>
        
              <!-- Drug Type -->
              <div class="form-group">
                <label for="drug_type_select">Drug Type</label>
                <div class="select">
                  <select id="drug_type_select">
                              <option>Tablet</option>
                              <option>Syrup</option>
                          </select>
                </div>
              </div>
        
              <!-- Drug Category -->
              <div class="form-group">
                <label for="drug_category_select">Drug Category</label>
                <div class="select">
                  <select id="drug_category_select">
                              <option>Injection</option>
                              <option>Narcotis</option>
                          </select>
                </div>
              </div>
        
              <!-- Drug Price -->
              <div class="form-group">
                <label for="drugPrice">Drug Price</label>
                <label for="drugPrice" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="DrugUpdateForm.get('drugPrice').invalid
                            && (DrugUpdateForm.get('drugPrice').dirty || DrugUpdateForm.get('drugPrice').touched)">
                        <input id="drugPrice" type="text"
                            formControlName="drugPrice" size="35">
                        <span class="tooltip-content">
                            Drug Price cannot be empty.
                        </span>
                    </label>
              </div>
        
              <!-- Drug Initial Quantity -->
              <div class="form-group">
                <label for="drugInitialQuantity">Drug Initial Quantity</label>
                <label for="drugInitialQuantity" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="DrugUpdateForm.get('drugInitialQuantity').invalid
                            && (DrugUpdateForm.get('drugInitialQuantity').dirty || DrugUpdateForm.get('drugInitialQuantity').touched)">
                        <input id="empdrugInitialQuantity" type="text"
                            formControlName="drugInitialQuantity" size="35">
                        <span class="tooltip-content">
                            Initial Quantity is required and should be a numeric value 
                        </span>
                    </label>
              </div>
        
              <!-- Drug Reorder Quantity -->
              <div class="form-group">
                <label for="drugReorderQuantity">Drug Reorder Quantity</label>
                <label for="drugReorderQuantity" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="DrugUpdateForm.get('drugReorderQuantity').invalid
                            && (DrugUpdateForm.get('drugReorderQuantity').dirty || DrugUpdateForm.get('drugReorderQuantity').touched)">
                        <input id="empdrugReorderQuantity" type="text"
                            formControlName="drugReorderQuantity" size="35">
                        <span class="tooltip-content" *ngIf="DrugUpdateForm.get('drugReorderQuantity').value == '' && DrugUpdateForm.get('drugReorderQuantity').dirty">
                            Reorder quantity is required
                        </span>
                        <span class="tooltip-content" *ngIf="DrugUpdateForm.get('drugReorderQuantity').value != '' && DrugUpdateForm.get('drugReorderQuantity').invalid && DrugUpdateForm.get('drugReorderQuantity').dirty">
                            Reorder quantity should be numeric
                        </span>
                    </label>
              </div>
                  </section>
                </form>
      
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning-outline" (click)="updateModalDisplay = false">Cancel</button>
                <button type="button" class="btn btn-success" (click)="updateModalDisplay = false">Update</button>
              </div>
            </clr-modal>
      
      
      