<div class="main-container">
    <app-header-nav *showIfAuthed="true"></app-header-nav>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <!-- Sidebar for Navigation -->
        <nav class="sidenav" *showIfAuthed="true">
            <section class="sidenav-content">
                <section class="nav-group collapsible">

                    <label for="tabexample1">Drug Management</label>
                    <ul class="nav-list">
                        <li>
                            <a class="nav-link" [routerLink]="['/searchDrug']">
                                <clr-icon shape="search"></clr-icon> Search Drug</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/addDrug']">
                                <clr-icon shape="plus"></clr-icon> Add Drug</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/updateDrug']">
                                <clr-icon shape="pencil"></clr-icon> Update/Delete Drug</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/viewDrugStock']">
                                <clr-icon shape="pencil"></clr-icon> View Drug Stock</a>
                        </li>

                    </ul>
                </section>
                <section class="nav-group collapsible">

                    <label for="tabexample1">Supplier Management</label>
                    <ul class="nav-list">
                        <li>
                            <a class="nav-link" [routerLink]="['/addSupplier']">
                                <clr-icon shape="search"></clr-icon> Add Supplier</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/updateSupplier']">
                                <clr-icon shape="plus"></clr-icon> Update Supplier</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/viewDrugStock']">
                                <clr-icon shape="pencil"></clr-icon> View Drug Stock</a>
                        </li>

                    </ul>
                </section>

                <section class="nav-group collapsible">
                    <input id="tabexample2" type="checkbox">
                    <label for="tabexample2">Customer Management</label>
                    <ul class="nav-list">
                        <li>
                            <a class="nav-link" [routerLink]="['/searchCustomer']">
                                <clr-icon shape="search"></clr-icon> Search Customer</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/addCustomer']">
                                <clr-icon shape="plus"></clr-icon> Add Customer</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/updateCustomer']">
                                <clr-icon shape="pencil"></clr-icon> Update/Delete Customer</a>
                        </li>
                    </ul>
                </section>
                <section class="nav-group collapsible">
                    <input id="tabexample3" type="checkbox">
                    <label for="tabexample3">Manufacturer Management</label>
                    <ul class="nav-list">
                        <li>
                            <a class="nav-link" [routerLink]="['/searchManufacturer']">
                                <clr-icon shape="search"></clr-icon> Search Manufacturer</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/addManufacturer']">
                                <clr-icon shape="plus"></clr-icon> Add Manufacturer</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/updateManufacturer']">
                                <clr-icon shape="pencil"></clr-icon> Update/Delete Manufacturer</a>
                        </li>
                    </ul>
                </section>

                <section class="nav-group collapsible">
                    <input id="tabexample3" type="checkbox">
                    <label for="tabexample3">Prescription</label>
                    <ul class="nav-list">
                        <li>
                            <a class="nav-link" [routerLink]="['/searchPrescription']">
                                <clr-icon shape="search"></clr-icon> Search Prescriptions</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/addPrescription']">
                                <clr-icon shape="plus"></clr-icon> Add Prescription</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/updatePrescription']">
                                <clr-icon shape="pencil"></clr-icon> Update/Delete Prescription</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/issueBill']">
                                <clr-icon shape="pencil"></clr-icon> Issue a Bill</a>
                        </li>
                    </ul>
                </section>
            </section>
        </nav>
        <!-- End Of Sidebar for Navigation -->
    </div>