<form class="form" [formGroup]="prescriptionAddForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
  <section class="form-block">
    <label>
      <clr-icon shape="floppy" class="has-badge is-solid"></clr-icon> Add Prescription</label>
    <hr>

    <div class="form-group">
      <label for="patient_select">Patient Name*</label>
      <div class="select">
        <select id="patient_select" formControlName="patientName">
          <option *ngFor="let patient of patients" [ngValue]="patient.customer_name">{{ patient.customer_name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="gender_select">Gender*</label>
      <div class="select">
        <select id="gender_select" formControlName="gender">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="age">Age*</label>
      <label for="age" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="prescriptionAddForm.get('age').invalid
                      && (prescriptionAddForm.get('age').dirty || prescriptionAddForm.get('age').touched)">
        <input id="age" type="text" formControlName="age" size="35">
        <span class="tooltip-content">
          Age should be a numeric value.
        </span>
      </label>
    </div>

    <h4>Add Drugs</h4>
    <br/>

    <div class="form-group">
      <label for="drug_select">Drug Name</label>
      <div class="select">
        <select id="drug_select" formControlName="drugName">
          <option *ngFor="let drug of drugs" [ngValue]="drug.drug_name">{{ drug.drug_name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="frequency_select">Frequency</label>
      <div class="select">
        <select id="frequency_select" formControlName="frequency">
          <option>Twice a Day</option>
          <option>Three Times a Day</option>
          <option>Four Times a Day</option>
          <option>Every Bedtime</option>
          <option>Every 4 hours</option>
          <option>Every 4 to 6 hours</option>
          <option>Every week</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="dosage">Dosage</label>
      <label for="dosage" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="prescriptionAddForm.get('dosage').invalid
                      && (prescriptionAddForm.get('dosage').dirty || prescriptionAddForm.get('dosage').touched)">
        <input id="dosage" type="text" formControlName="dosage" size="35">
        <span class="tooltip-content">
          Dosage cannot be empty.
        </span>
      </label>
    </div>

    <div class="form-group">
      <label for="period">Period</label>
      <label for="period" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="prescriptionAddForm.get('period').invalid
                      && (prescriptionAddForm.get('period').dirty || prescriptionAddForm.get('period').touched)">
        <input id="dosage" type="text" formControlName="period" size="35">
        <span class="tooltip-content">
          Period cannot be empty.
        </span>
      </label>
    </div>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      <label for="quantity" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="prescriptionAddForm.get('quantity').invalid
                        && (prescriptionAddForm.get('quantity').dirty || prescriptionAddForm.get('quantity').touched)">
        <input id="quantity" type="text" formControlName="quantity" size="35">
        <span class="tooltip-content">
          Quantity should be a numeric value.
        </span>
      </label>
    </div>
    <button class="btn btn-primary" type="button" [disabled]="prescriptionAddForm.invalid" (click)="addDrug()">Add Drug</button>

    <clr-datagrid>
      <clr-dg-column>Drug Name</clr-dg-column>
      <clr-dg-column>Frequency</clr-dg-column>
      <clr-dg-column>Dosage</clr-dg-column>
      <clr-dg-column>Period</clr-dg-column>
      <clr-dg-column>Quantity</clr-dg-column>
      <clr-dg-column>Action</clr-dg-column>
      <clr-dg-row *ngFor="let drug of prescription_drugs; let drugIndex = index">
        <clr-dg-cell>{{drug.prescription_item_drug_name}}</clr-dg-cell>
        <clr-dg-cell>{{drug.prescription_item_frequency}}</clr-dg-cell>
        <clr-dg-cell>{{drug.prescription_item_dosage}}</clr-dg-cell>
        <clr-dg-cell>{{drug.prescription_item_period}}</clr-dg-cell>
        <clr-dg-cell>{{drug.prescription_item_quantity}}</clr-dg-cell>
        <clr-dg-cell>
          <button class="btn btn-sm btn-warning" type="button" (click)="deleteDrug(drugIndex)">Remove</button>
        </clr-dg-cell>
      </clr-dg-row>

    </clr-datagrid>
    <br/>

    <div class="form-group">
      <label for="remark">Remark</label>
      <label for="remark" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm">
        <input id="remark" type="text" formControlName="remark" size="60">
      </label>
    </div>
    <br/>

    <button class="btn btn-primary" type="submit" [disabled]="prescriptionAddForm.invalid">Add Prescription</button>
    <button class="btn btn-warning" type="button">Reset</button>
  </section>
</form>