<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Drug</div>
    <div class="panel-body">
      <div class="form-group col-lg-6">
        <label>Drug Name</label>
        <input type="password" name="" class="form-control" id="" value="">

      </div>

      <div class="form-group col-lg-6">
        <label>Drug Unit</label>
        <select class="form-control">
                <option>Tablet</option>
                <option>Syrup</option>
              </select>
      </div>

      <div class="form-group col-lg-6">
        <label>Drug Category</label>
        <select class="form-control">
                  <option>Injection</option>
                  <option>Narcotics</option>
              </select>
      </div>

      <div class="form-group col-lg-6">
        <label>Drug Price</label>
        <input type="" name="" class="form-control" id="" value="">
      </div>

      <div class="form-group col-lg-6">
        <label>Drug Initial Quantity</label>
        <input type="" name="" class="form-control" id="" value="">
      </div>

      <div class="form-group col-lg-6">
        <label>Drug Reorder Quantity</label>
        <input type="" name="" class="form-control" id="" value="">
      </div>

      <div class="form-group col-lg-12">
        <label>Drug Remarks</label>
        <textarea class="form-control"></textarea>
      </div>
      <div class="form-group col-lg-12">
        <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-floppy-save"></span> Save Drug
              </button>
        <button type="button" class="btn btn-danger">
                  <span class="glyphicon glyphicon-refresh"></span> Clear
              </button>
      </div>


    </div>
  </div>

</div>